@{
    ViewBag.Title = "Grafica";
}
<style>
    .img-cont{
        text-align:center;
    }
</style>
<h2>Grafica de los Productos</h2>
<div class="img-cont">
    <img src="@Url.Action("VistaGrafica")" />
</div>
